/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.navigation {
  display: flex;
  margin-right: 41px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.dropbtn {
  background-color:  #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: -15px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:  #333;
}
/* Main Section */
.main {

  background-color: #f2f2f2;
  padding: 100px;
  text-align: center;
  /*
  background : url(img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  */
}

.main h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.main h2 {
  font-size: 24px;
  margin-bottom: 40px;
}
.main-btn {
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Information Section */
.information {
  padding: 100px;
}

.information .title {
  font-size: 36px;
  margin-bottom: 40px;
}

.information p {
  margin-bottom: 20px;
}


/* Cards Section */
.cards {
  padding: 100px;
}


.cards .title {
  font-size: 36px;
  margin-bottom: 40px;
}

.cards .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.card {
  background-color: #f2f2f2;
  padding: 20px;
}
.card:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}
.card h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card p {
  margin-bottom: 20px;
}

.more-details {
  display: inline-block;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

/* Training Section */
.training {
  padding: 100px;
}

.training .title {
  font-size: 36px;
  margin-bottom: 40px;
}
.card-train {
    background-color: #f2f2f2;
    padding: 20px;
}
.card-train {
  font-size: 24px;
  margin-bottom: 20px;
}




/* Contact Section */
.Contact {
  padding: 100px;
}

.Contact .title {
  font-size: 36px;
  margin-bottom: 40px;
}

.Contact .card {
  background-color: #f2f2f2;
  padding: 20px;
}

.Contact .card h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-navigation h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.footer-navigation a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 30px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-content p {
  margin-bottom: 10px;
}

.icon {
  color: #fff;
  text-decoration: none;
  margin-right: 885px;

}
.icon i {
  margin-left: 5px;
}

.footer-copyright {
  text-align: center;
  margin-top: 230px;
  color: #fff;
}